<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { title: "MoviClaro"}) %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <div class="home-presentacion">
                    <h1>Bienvenidos a</h1>
                    <img src="/images/MoviClaro.png" alt="logo tipografico oficial">
                </div>
                <div class="main-container">
                    <h2>Ofertas</h2>
                    <!-- Contenido principal -->
                    <section class="conteiner">
                        <!-- Inicio articulo -->
                        <% offersProducts.forEach(product => { %>
                            <article class="articulo">
                                <form action="/agregarCarrito" method="GET">
                                    <div class="img-container">
                                        <a href="/detalle/<%= product.id %>">
                                        <img class="imagenArticulo" src="/images/products/<%= product.image ? product.image : 'motog20-breeze-blue_front.png' %> " alt="logo">
                                    </a>
                                    </div>
                                    <div class="articulo-desc">
                                        <h3>
                                            <%= product.brands.name %>
                                        </h3>
                                        <h3>
                                            <%= product.model %>
                                        </h3>
                                        <p>
                                            <%= product.colors.name %>
                                        </p>
                                        <p>
                                            <%= product.price %>
                                        </p>
                                        <a href="/detalle/<%= product.id %>">
                                            <p>Ver detalle</p>
                                        </a>
                                        <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                                    </div>
                                </form>
                            </article>
                            <% }); %>
                    </section>
                    <!-- Fin de contenido principal -->
                    </section>
                </div>
                </div>
                <div class="main-container">
                    <h2>Promociones</h2>
                    <!-- Contenido principal -->
                    <section class="conteiner">
                        <!-- Inicio articulo -->
                        <% promotionsProducts.forEach(product => { %>
                            <article class="articulo">
                                <form action="/agregarCarrito" method="GET">
                                    <div class="img-container">
                                        <a href="/detalle/<%= product.id %>">
                                        <img class="imagenArticulo" src="/images/products/<%= product.image ? product.image : 'motog20-breeze-blue_front.png' %> " alt="logo">
                                    </a>
                                    </div>
                                    <div class="articulo-desc">
                                        <h3>
                                            <%= product.brands.name %>
                                        </h3>
                                        <h3>
                                            <%= product.model %>
                                        </h3>
                                        <p>
                                            <%= product.colors.name %>
                                        </p>
                                        <p>
                                            <%= product.price %>
                                        </p>
                                        <a href="/detalle/<%= product.id %>">
                                            <p>Ver detalle</p>
                                        </a>
                                        <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                                    </div>
                                </form>
                            </article>
                            <% }); %>
                    </section>
                    <!-- Fin de contenido principal -->
                    </section>
                    </div>
                    </div>


            </main>
            <%- include('./partials/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>