<html lang="en">

<%- include('../partials/head.ejs', { title: "Iniciar sesi칩n"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <h1>Perfil Usuario</h1>
                <div class="main-register-login">
                    <form class="formulario">
                        <div id="detalle"></div>
                        <img id= "imagenPerfil" src="/images/avatars/<%= usuario.avatar %>">
                       
                            <div>
                                <label for="Nombre">Nombre</label>
                                <input type="text" name="Nombre" value="<%= usuario.nombre %>">
                            </div>
                            <div>
                                <label for="Apellido">Apellido</label>
                                <input type="text" name="Apellido" value="<%= usuario.apellido %>">
                            </div>
                            <div>
                                <label for="Email">Email</label>
                                <input type="text" name="Email" value="<%= usuario.email %>">
                            </div>
                            <div>
                                <label for="Celular">Celular</label>
                                <input type="text" name="Celular" value="<%= usuario.celular %>">
                            </div>
                            <div>
                                <label for="Contrase침a">Contrase침a</label>
                                <input type="text" name="Contrase침a" value="<%= usuario.password %>">
                            </div>
                        
                        <button class="registro-boton registro-boton-red" type="reset">Descartar Cambios</button>
                        <button class="registro-boton" type="submit">Guardar Cambios</button>
                    </div>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>