<html lang="en">

<%- include('../partials/head.ejs', { title: "Perfil"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <h1>Hola
                    <%= user.name %>
                </h1>
                <section class="celular">
                    <img id=celular src="/images/avatars/<%= user.image %>">
                    <div class="texto-botones-desc">
                        <div class="Info">
                            <h2>
                                <%= user.name %>
                                    <%= user.last_name %>
                            </h2>
                            <p>
                                <%= user.email %>
                            </p>
                            <p>
                                <%= user.phone %>
                            </p>
                        </div>
                        <div class="descripcion">
                            <h3>
                                <%= user.countries.name %>
                            </h3>
                        </div>
                        <br>
                        
                        <div class="botones">
                            <!-- <button type="reset" class="registro-boton registro-boton-red">BORRAR</button> -->
                            <form action="/user/<%= user.id %>?_method=DELETE" method="POST">
                                <!-- <button type="submit" class="registro-boton registro-boton-red">ELIMINAR</button> -->
                                <input class="registro-boton registro-boton-red" value="ELIMINAR" type="submit">
                            </form>
                            <form action="/user/<%= user.id %>" enctype="multipart/form-data" method="get">
                                <!-- <button type="button" class="registro-boton" href="/products/productEdit">EDITAR</button> -->
                                <!-- <input class="registro-boton" value="ENVIAR" type="submit"> -->
                                <input class="registro-boton" value="EDITAR" type="submit" href="#">
                                
                            </form>
                        </div>
                    </div>
                </section>

            </main>
            <%- include('../partials/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>