<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs', { title: "Detalle de producto"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <section class="celular">
                    <img id=celular src="../images/motog20-breeze-blue_front.png">
                    <div class="texto-botones-desc">
                        <div class="Info">
                            <h2>
                                <%= product.marca %>
                                    <%= product.modelo %>
                            </h2>
                            <p>$99.999</p>
                        </div>
                        <div class="envio-stock">
                            <p>En stock <i class="fas fa-check"></i></p>
                            <p>Envio gratis <i class="fas fa-truck"></i></p>
                        </div>
                        <form action="/agregarCarrito" method="GET">
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </form>
                        <ul class="select-option">
                            <label>Color:</label>
                            <select class="selecet Color" name="colorCelular">
                                <option value="negro">Negro</option>
                                <option value="azul" selected>Azul</option>
                                <option value="blanco">Blanco</option>
                             </select>
                        </ul>

                        <div class="descripcion">
                            <h3>Descripción</h3>
                            <p>
                                <%= product.descripcion %>
                            </p>
                        </div>
                        <div class="botones">
                            <form action="/agregarCarrito" method="GET">
                            <button type="reset" class="registro-boton registro-boton-red">ELIMINAR</button>
                            </form>
                            <form action="/edit" method="POST" >
                            <!-- <button type="button" class="registro-boton" href="/products/productEdit">EDITAR</button> -->
                            <input class="registro-boton" value="EDITAR" type="submit" href="./edit">
                            
                            </form>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>