<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { title: "Crear producto"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div class="main-register-login">
                    <h2 class="titulo-registro">Nuevo producto</h2>
                    <form action="/storeProduct" method="POST" enctype="multipart/form-data" class="formulario">
                        <div class="registro-formulario">
                            <div class="registro-campos">
                                <label for="marca">Marca</label>
                                <input type="text" name="marca" id="marca" class="input" required>
                            </div>
                            <div class="registro-campos">
                                <label for="modelo">Modelo</label>
                                <input type="text" name="modelo" id="modelo" class="input" required>
                            </div>
                            <div class="registro-campos">
                                <label>Color</label>
                                <select name="color" class="input select" required>
                        <option value="null" >----</option>
                        <option value="Negro">Negro</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Azul">Azul</option>
                        <option value="Verde">Verde</option>
                        <option value="Gris">Gris</option>
                        <option value="Plateado">Plateado</option>
                        <option value="Dorado">Dorado</option>
                                </select>
                            </div>
                            <div class="registro-campos">
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio" class="input" required>
                            </div>
                            <div class="registro-campos">
                                <label for="stock">Stock disponible</label>
                                <input type="number" name="stock" id="stock" class="input" required>
                            </div>
                            <div class="registro-campos">
                                <label>Categoria</label>
                                <select name="category" class="input select">
                                    <% for (let i=0; i < category.length; i++){ %>
                                        <option value="<%=category[i].id%>">
                                            <%=category[i].name%>
                                        </option>
                                        <% } %>
                                    </select>
                            </div>
                            <div class="registro-campos">
                                <label for="descripcion">Descripción</label>
                                <textarea class="textarea" name="descripcion" id="descripcion" rows="10" cols="50" required></textarea>
                            </div>
                            <div class="registro-campos">
                                <label for="imagen">Subir imagen</label> </br>
                                <input type="file" name="image" id="image" required>
                            </div>
                        </div>
                        <div class="botones">
                            <button type="reset" class="registro-boton registro-boton-red">BORRAR</button>
                            <button type="submit" class="registro-boton">ENVIAR</button>
                        </div>

                </div>
                </form>
                </div>

            </main>
            <%- include('../partials/footer.ejs') %>


    </body>

</html>