<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { title: "Editar producto"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div class="main-register-login">
                    <h2 class="titulo-registro">Editar producto</h2>
                    <form action="/editar" method="GET" class="formulario">
                        <div class="registro-formulario">
                            <div class="registro-campos">
                                <label for="marca">Marca</label>
                                <input type="text" name="marca" id="marca" class="input" value="<%= product.marca %>">
                            </div>
                            <div class="registro-campos">
                                <label for="modelo">Modelo</label>
                                <input type="text" name="modelo" id="modelo" class="input" value="<%= product.modelo %>">
                            </div>
                            <div class="registro-campos">
                                <label for="color">Color</label>
                                <input type="text" name="color" id="color" class="input" value="<%= product.color %>">
                            </div>
                            <div class="registro-campos">
                                <label for="precio">Precio</label>
                                <input type="text" name="precio" id="precio" class="input" value="<%= product.precio %>">
                            </div>
                            <div class="registro-campos">
                                <label for="precio">Stock disponible</label>
                                <input type="number" name="precio" id="precio" class="input" value="">
                            </div>
                            <div class="registro-campos">
                                <label for="imagen">Subir imagen</label> </br>
                                <input type="file" name="imagen" id="imagen" value="<%= product.image %>">
                            </div>
                            <div class="registro-campos">
                                <label for="descripcion">Descripción</label>
                                <textarea class="textarea" name="descripcion" id="descripcion" rows="10" cols="50" value=" <%= product.descripcion %>"></textarea>
                            </div>
                        </div>
                        <div class="botones">
                            <!-- <form action="./update" method="GET"> -->
                            <button type="reset" class="registro-boton registro-boton-red">BORRAR</button>
                            <!-- </form>
                            <form action="/" method="GET"> -->
                            <input class="registro-boton" value="ENVIAR" type="submit" href="/update">
                            <!-- </form> -->
                        </div>
                    </form>
                </div>
                </div>

            </main>
            <%- include('../partials/footer.ejs') %>

    </body>

</html>