<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs', { title: "Detalle de producto"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <section class="celular">
                    <img id=celular src="/images/products/<%= product.image ? product.image : 'motog20-breeze-blue_front.png' %> ">
                    <div class="texto-botones-desc">
                        <div class="Info">
                            <h2>
                                <%= product.brands.name %>
                                    <%= product.model %>
                            </h2>
                            <p> $
                                <%= product.price %>
                            </p>
                        </div>
                        <div class="envio-stock">
                            <p>En stock <i class="fas fa-check"></i></p>
                            <p>Envio gratis <i class="fas fa-truck"></i></p>
                        </div>
                        <form action="/agregarCarrito" method="GET">
                            <input class="botonComprar" value="Comprar" type="submit" href="./agregarCarrito">
                        </form>
                        <ul class="select-option">
                            <label>Color:</label>
                            <select class="selecet Color" name="colorCelular" value=<%=product.colors.name %>>
                                 <option value= <%= product.colors.name %>> <%= product.colors.name %></option>       
       
                          </select>

                        </ul>

                        <div class="descripcion">
                            <h3>Descripción</h3>
                            <p>
                                <%= product.description %>
                            </p>
                        </div>
                        <div class="botones">

                            <% if (locals.isLogged){ %>
                                <% if (locals.userLogged.category_id =="2"){ %>
                                    <form action="/<%= product.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="registro-boton registro-boton-red">ELIMINAR</button>
                                    </form>



                                    <form action="/edit/<%= product.id %>" enctype="multipart/form-data" method="GET">
                                        <!-- <button type="button" class="registro-boton" href="/products/productEdit">EDITAR</button> -->
                                        <input class="registro-boton" value="EDITAR" type="submit" href="/edit/<%= product.id %>">

                                    </form>

                                    <%} } %>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>