<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { title: "Editar producto"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div class="main-register-login">
                    <h2 class="titulo-registro">Editar producto</h2>
                    <form action="/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formulario">
                        <div class="registro-formulario">
                            <div class="registro-campos">
                                <label for="marca">Marca</label>
                                <select name="marca" id="marca" class="input" required>
                                    <% for (let i=0; i < brands.length; i++){ %>
                                        <% if (brands[i].id == product.brand_id){%>
                                            <option value="<%=brands[i].id%>" selected>
                                                <%=brands[i].name%>
                                            </option>
                                    <%} else{%>
                                        <option value="<%=brands[i].id%>">
                                            <%=brands[i].name%>
                                        </option>
                                    <% } %>
                                        <% } %>
                                </select>
                            </div>
                            <div class="registro-campos">
                                <label for="modelo">Modelo</label>
                                <input type="text" name="modelo" id="modelo" class="input" value="<%= product.model %>" >
                                <% //if (locals.errors && errors.modelo) { %>
                                    <div id="modeloDanger" class="text-danger ">
                                        <%=// errors.modelo.msg %>
                                    </div>
                                    <% //} %>
                            </div>
                            <div class="registro-campos">
                                <label>Color</label>
                                <select name="color" class="input select" required>
                                    <% for (let i=0; i < color.length; i++){ %>
                                        <% if (color[i].id == product.color_id){%>
                                            <option value="<%=color[i].id%>" selected>
                                                <%=color[i].name%>
                                            </option>
                                    <%} else{%>
                                        <option value="<%=color[i].id%>">
                                            <%=color[i].name%>
                                        </option>
                                    <% } %>
                                        <% } %>
                            </select>
                            </div>
                            <div class="registro-campos">
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio" class="input" value="<%= product.price %>" required>
                            </div>
                            <div class="registro-campos">
                                <label for="stock">Stock disponible</label>
                                <input type="number" name="stock" id="stock" class="input" value="<%= product.stock %>" required>
                            </div>
                            <div class="registro-campos">
                                <label>Categoria</label>
                                <select name="category" class="input select" required>
                                    <% for (let i=0; i < category.length; i++){ %>
                                        <% if (category[i].id == product.product_categories_id){%>
                                            <option value="<%=category[i].id%>" selected>
                                                <%=category[i].name%>
                                            </option>
                                    <%} else{%>
                                        <option value="<%=category[i].id%>">
                                            <%=category[i].name%>
                                        </option>
                                    <% } %>
                                        <% } %>
                                </select>
                            </div>
                            <div class="registro-campos">
                                <label for="imagen">Subir imagen</label> </br>
                                <figure class="figure">
                                    <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                                </figure>
                                <input type="hidden" name="oldImage" value="<%= product.image%>">
                                <input 
                                    type="file" 
                                    name="image" 
                                    id="image" 
                                    class="<%= //locals.errors && errors.image ? 'is-invalid': null %>" 
                                    content="/images/products/<%= product.image %>"
                                    >
                                <% //if (locals.errors && errors.image) { %>
                                    <div class="text-danger" id="imageDanger">
                                        <%=// errors.image.msg %>
                                    </div>
                                    <% //} %>
                            </div>
                            <div class="registro-campos">
                                <label for="descripcion">Descripción</label>
                                <textarea class="textarea" name="descripcion" id="descripcion" rows="10" cols="50"><%= product.description %></textarea>
                                <% //if (locals.errors && errors.descripcion) { %>
                                    <div id="descripcionDanger" class="text-danger ">
                                        <%= //errors.descripcion.msg %>
                                    </div>
                                    <%// } %>
                            </div>
                        </div>
                        <div class="botones">
                            <button type="reset" class="registro-boton registro-boton-red">BORRAR</button>
                            <input class="registro-boton" value="ENVIAR" type="submit">
                        </div>

                    </form>
                </div>
                </div>

            </main>
            <%- include('../partials/footer.ejs') %>
            <script src="../js/productsEditValidation.js"></script>
    </body>

</html>