<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { title: "Crear producto"}) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div class="main-register-login">
                    <h2 class="titulo-registro">Nuevo producto</h2>
                    <form action="/nuevoProducto" method="POST" enctype="multipart/form-data" class="formulario">
                        <div class="registro-formulario">
                            <div class="registro-campos">
                                <label for="marca">Marca</label>
                                <select name="marca" id="marca" class="input">
                                    <% for (let i=0; i < brands.length; i++){ %>
                                        <option value="<%=brands[i].id%>">
                                            <%=brands[i].name%>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="registro-campos">
                                <label for="modelo">Modelo</label>
                                <%// console.log(locals.errors); %> 
                                <input type="text" name="modelo" id="modelo" class="input <%=// locals.errors && errors.modelo ? 'is-invalid': null %>" value="<%= //locals.oldData ? oldData.modelo : null %>">
                                <% //if (locals.errors && errors.modelo) { %>
                                    <div id="modeloDanger" class="text-danger ">
                                        <%=// errors.modelo.msg %>
                                    </div>
                                    <% //} %>
                            </div>
                            <div class="registro-campos">
                                <label>Color</label>
                                <select name="color" class="input select" >
                                    <% for (let i=0; i < color.length; i++){ %>
                                        <option value="<%=color[i].id%>">
                                            <%=color[i].name%>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="registro-campos">
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio" class="input" >
                            </div>
                            <div class="registro-campos">
                                <label for="stock">Stock disponible</label>
                                <input type="number" name="stock" id="stock" class="input">
                            </div>
                            <div class="registro-campos">
                                <label>Categoria</label>
                                <select name="category" class="input select">
                                    <% for (let i=0; i < category.length; i++){ %>
                                        <option value="<%=category[i].id%>">
                                            <%=category[i].name%>
                                        </option>
                                        <% } %>
                                    </select>
                            </div>
                            <div class="registro-campos">
                                <label for="descripcion">Descripción</label>
                                <textarea name="descripcion" id="descripcion" rows="10" cols="50"></textarea>
                                <%=// locals.errors && errors.descripcion ? 'is-invalid': null %> 
                                 <!-- </textarea> -->
                                <% //if (locals.errors && errors.descripcion) { %>
                                    <div id="descripcionDanger" class="text-danger ">
                                        <%= //errors.descripcion.msg %>
                                    </div>
                                    <%// } %>
                            </div>

                            <div class="registro-campos">
                                <label for="image">Subir imagen</label> </br>
                                <input 
                                    type="file" 
                                    name="image" 
                                    id="image" 
                                    class="<%= //locals.errors && errors.image ? 'is-invalid': null %>" 
                                    value=""
                                    >

                                    <% //if (locals.errors && errors.image) { %>
                                        <div class="text-danger" id="imageDanger">
                                            <%=// errors.image.msg %>
                                        </div>
                                        <% //} %>
                            </div>
                        </div>
                        <div class="botones">
                            <button type="reset" class="registro-boton registro-boton-red">BORRAR</button>
                            <button type="submit" class="registro-boton">ENVIAR</button>
                        </div>

                </div>
                </form>
                </div>

            </main>
            <%- include('../partials/footer.ejs') %>


    </body>

</html>